body {
    font-family: arial;
    background: black;
}
.line-w {
    border: 1px solid whitesmoke;
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 1300px;
    /* opacity: 0.5; */
    background: url("../img/carusel-car2.jpg");
    color: #fff;
}
.overcolor h3 {
    text-align: center;
    padding-top: 300px;
}
.overcolor p {
    text-align: center;
    color: rgb(190, 187, 187);
    margin-bottom: 150px;
}

.header a {
    color: orange;
    margin-left: 45%;
}
.overcolor {
    width: 100%;
    height: 100%;background: rgba(0, 0, 0, 0.6);
}



.servises {
    width: 100%;
    height: 100%;
    background: #000;
    text-align: center;
    padding: 120px 20px;
}
.servic-cards {
    margin-top: 120px;
}
.servic-cards h3 {
    margin-top: 18px;
    padding-bottom: 10px;
    font-weight: bold;
}
.servic-cards p {
    padding-bottom: 5px;
    color: #888686;
}
.servic-cards a {
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 60px;
    transition: 0.2s;
    margin-bottom: 80px;
}
.servic-cards a:hover {
    box-shadow: 0 0 10px orange, 0 0 40px orange !important;
}
.servic-cards i {
    color: orange;
}
.about-service {
    margin-top: 100px;
    text-align: start;
}
.about-service h1, h4 {
    font-weight: bold;
}
.service-imgs img:hover {
    opacity: 0.8;
}
.mini-text {
    margin-top: 150px;
}
.mini-text img {
    border-radius: 50%;
}

.footer {
    width: 100%;
    height: 100%;
}

.botton_links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.links {
    margin-bottom: 20px;
    color: #fff;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.link_item a {
    color: #fff;
}
.link_item {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.telegram:hover {
    border-color: #088de6;
    box-shadow: 0px 0px 25px #088de6;
    color: #088de6;
}
.instagram:hover {
    border-color: #25d366;
    box-shadow: 0px 0px 25px #25d366;
    color: #25d366;
}
.youtube:hover {
    border-color: #0e70b1;
    box-shadow: 0px 0px 25px #0e70b1;
    color: #0e70b1;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }



  .botton_links2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.links2 {
    margin-bottom: 20px;
    color: #fff;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.link_item2 a {
    color: #fff;
}
.link_item2 a i{
    padding-right: 40px;
}
.link_item2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.telegram2:hover {
    border-color: #088de6;
    box-shadow: 0px 0px 25px #088de6;
    color: #088de6;
}
.instagram2:hover {
    border-color: #25d366;
    box-shadow: 0px 0px 25px #25d366;
    color: #25d366;
}
.youtube2:hover {
    border-color: #0e70b1;
    box-shadow: 0px 0px 25px #0e70b1;
    color: #0e70b1;
}

